<div class="flex-container">
  <ul class="navigation">
    <li><a href="/users/{{username}}">Home</a></li>
    <li><a href="/post/{{username}}">New Post</a></li>
    <li><a href="">something</a></li>
    <li><a href="">something</a></li>
  </ul>
<img src="../images/Bee_Logo.png" width=auto height="300px">
<pre>Welcome, {{username}}!</pre>
{{#each posts}}
  <ul class="flex-posts">
    <li>#{{this.id}}</li>
    <li><b>{{this.users_username}}</b></li>
    <li><img src='{{this.imgUrl}}' style="width:700px;height:auto;"></li>
    <li>{{this.caption}}</li>
  </ul>
  {{/each}}
</div>
