<ul class="navigation">
  <li><a href="/users/{{username}}">Your Posts</a></li>
  <li><a href="/post/{{username}}">New Post</a></li>
  <li><a href="/users/{{username}}/feed">All Posts</a></li>
  <li><a href="/">Log Out</a></li>
</ul>
<div class="flex-container">
  <a href="/"><img src="../images/Bee_Logo.png" width=auto height="300px"></a>
  <pre>Welcome, {{username}}!</pre>
  {{#each posts}}
    <ul class="flex-posts">
      <li><a href="/post/{{this.id}}">#{{this.id}}</a></li>
      <li><b>{{this.users_username}}</b></li>
      <li><img src='{{this.imgUrl}}' style="width:700px;height:auto;"></li>
      <li>{{this.caption}}</li>
    </ul>
  {{/each}}
</div>
