<div class="flex-container">
<h1>{{title}}</h1>
<pre>Welcome, {{username}}!</pre>
<a type="button" name="newpost" href="/post/{{username}}">create new post</a>
<a type="button" name="newpost" href="/users/{{username}}">back to your wall</a>
{{#each posts}}
  <ul class="flex-posts">
    <li><a href="/post/{{this.id}}">#{{this.id}}</a></li>
    <li><b>{{this.users_username}}</b></li>
    <li><img src='{{this.imgUrl}}' style="width:300px;height:300px;"></li>
    <li>{{this.caption}}</li>
  </ul>
  {{/each}}
</div>
