<ul class="navigation">
  <li><a href="/users/{{username}}">Your Posts</a></li>
  <li><a href="/post/{{username}}">New Post</a></li>
  <li><a href="/users/{{username}}/feed">All Posts</a></li>
  <li><a href="/">Log Out</a></li>
</ul>
<div class="flex-container">
<img src="../images/Bee_Logo.png" width=auto height="300px">
<pre>Welcome, {{username}}!</pre>
<a type="button" name="newpost" href="/post/{{username}}">create new post</a>
<a type="button" name="newpost" href="/users/{{username}}">back to your wall</a>
{{#each posts}}
  <ul class="flex-posts">
    <li><a href="/post/{{this.id}}">#{{this.id}}</a></li>
    <li><b>{{this.users_username}}</b></li>
    <li><img src='{{this.imgUrl}}' style="width:300px;height:300px;"></li>
    <li>{{this.caption}}</li>
  </ul>
  {{/each}}
</div>
